*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore.properties
*.jks
*.keystore
/mobile/google-services.json
/mobile/src/debug
/mobile/src/release

.kotlin/
/wear/src/debug/google-services.json
/wear/src/release/google-services.json
/wear/src/release/keystore
/mobile/release/
/wear/release/
.hotswan/
